<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a nodepop</h1>
    <img src="../public/images/bici.jpg">
  </body>
</html>
